body {
	background-color: #FFF8ED;
	padding: 0;
	margin: 0;
}
header {
	padding: 10px 20px;
	background-image: url(../images/sprinkles.png);
	background-repeat: repeat;
}
header h1 {
	background-color: #fff;
	display: inline-block;
	padding: 10px;
}
h1, h2 {
	color: #4A2811;
}
main {
	margin-top: 20px;
	padding-left: 20px;
}
form p {
	margin: 0;
	padding-bottom: 4px;
}
table {
	text-align: center;
	border-spacing: 0;
	border: 2px solid #A6A6A6;
	border-radius: 10px;
	background-color: #fff;
}
td, th {
	padding: 4px;
}
.company {
	font-style: italic;
}
.location {
	color: #4A2811;
}
.title th {
	padding: 8px 2px;	
}
#time {
	padding: 6px;
	background-color: #efefef;
	border-bottom: 1px solid #BDBDBD;
}

