body {
  background-color: #FFF8ED;
  font-family: "Port Lligat Sans", "Times New Roman", sans-serif;
  font-size: 1em;
}
header {
  padding: .5em;
  background-image: url(../images/sprinkles.png);
  background-repeat: repeat;
  height: 120px;
}
header h1 {
  font-size: 300%;
  background-color: #fff;
  display: inline-block;
  padding: .1em;
  margin-top: .6em;
}
header img {
  float: left;
}
h2, h3 {
  font-size: 160%;
}
p {
  font-size: 1.2em;
  margin-top: .5em;
}
h1, h2, h3 {
  color: #4A2811;
  padding: 0;
  margin: 0;
}
h2, h3 {
  margin-top: .8em; 
}
h4 {
  font-size: 110%;
}
a {
  color: #fff;
}
main {
  margin: .8em 0 140px 0;
  padding-left: .8em;
}
footer {
  position: fixed;
  right: 0;
  bottom: 4px;
  height: 120px;
  width: 55%;
  min-width: 660px;
  background-image: url("../images/gradient.gif");
  background-repeat: repeat-y;
  color: #fff;
  text-align: right;
}
footer img {
  float: right;
  margin-right: 30px;
  margin-top: 8px;
}
footer h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}
footer p {
  font-size: 95%;
  margin-top: .3em;
}
.foot-width {
  width: 80%;
}
form {
  display: inline-block;
  margin-top: 1em;
  width: 30%;
}
form button {
  background-color: #4A2811;
  padding: .3em .4em .4em .4em;
  margin-top: 6em;
  border: 1px solid #fff;
  border-radius: 3px;
  font-family: "Port Lligat Sans", "Times New Roman", sans-serif;
  font-size: 1.3em;
  color: #fff;
  clear: both;
}
fieldset {
  border: 1px solid #4A2811;
  border-radius: 5px;
  width: 100%;
  padding: 1em;
  position: relative;
  min-width: 320px;
}
legend {
  color: #4A2811;
}
label {
  /*display: inline-block;
  padding-bottom: 1em;*/
}
input {
  /*display: inline;
  margin: 0 0 1.3em 1em;*/
}
#form-pairs {
  position: relative;
}
.form-pair {
  width: 100%;
}
#nnLabel, #mnchLabel, #mxchLabel, #adpLabel {
  position: absolute;
  left: 0;
  top: 0;
  text-align: right;
  width: 170px;
  /*display: inline;*/
}
#newName, #minCustHr, #maxCustHr, #avgDonutPurch {
  /*display: inline;*/
  position: absolute;
  left: 175px;
  top: -4px;
}
#mnchLabel {
  top: 30px;
}
#mxchLabel {
  top: 60px;
}
#adpLabel {
  top: 90px;
}
#minCustHr {
  top: 26px;
}
#maxCustHr {
  top: 56px;
}
#avgDonutPurch {
  top: 86px;
}
/*#newName {
  margin-bottom: 6px;
}
#minCustHr {
}
#maxCustHr {
}
#avgDonutPurch {
}*/
table {
  width: 70%;
  font-family: Arial, sans-serif;
  text-align: center;
  border-spacing: 0;
  border: 2px solid #A6A6A6;
  border-radius: 10px;
  background-color: #fff;
  padding-bottom: 4px;
  overflow: hidden;
  min-width: 741px;
}
td, th {
  padding: 4px;
}
.company {
  font-style: italic;
}
.location {
  color: #4A2811;
}
.title th {
  padding: .7em .2em; 
  background-color: #efefef;
  border-bottom: 1px solid #BDBDBD;
}
/*$$$$$$$$$$$$$$$$$$$$$
header donut animation styles
$$$$$$$$$$$$$$$$$$$$$*/

.donut-div {
  height: 120px;
  width: 120px;
  float:left;
  margin-top:20px;
  text-align: center;
  position:relative;
}
.bouncing-donut {
  position:absolute;
  height: 120px;
  width: 120px;
  border-radius:60px ;
  background-image: url("../images/donut-icon.gif");
  bottom: 10px;
  left: 5px;
}

@-webkit-keyframes bouncing {
  40%,70%,90% {
    bottom:10px;
    -webkit-animation-timing-function: ease-out;
  }
  0% {
    bottom:240px;
    left:5px;
    -webkit-animation-timing-function: ease-in;
  }
  55% {
    bottom:90px;
    -webkit-animation-timing-function: ease-in;
  }
  78% {
    bottom:55px;
    -webkit-animation-timing-function: ease-in;
  }
  95% {
    bottom:28px;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    left:5px;
    bottom:20px;
    -webkit-animation-timing-function: ease-out;
  }
  @-moz-keyframes bouncing {
    40%,70%,90% {
      bottom:10px;
      -webkit-animation-timing-function: ease-out;
    }
    0% {
      bottom:240px;
      left:5px;
      -webkit-animation-timing-function: ease-in;
    }
    55% {
      bottom:90px;
      -webkit-animation-timing-function: ease-in;
    }
    78% {
      bottom:55px;
      -webkit-animation-timing-function: ease-in;
    }
    95% {
      bottom:28px;
      -webkit-animation-timing-function: ease-out;
    }
    100% {
      left:5px;
      bottom:20px;
      -webkit-animation-timing-function: ease-out;
    }
/*$$$$$$$$$$$$$$$$$$$$$
footer donut animation styles
$$$$$$$$$$$$$$$$$$$$$*/
.spinning-donut {
  transform: rotate(180deg);
}

