body {
  background-color: #FFF8ED;
  font-family: "Port Lligat Sans", "Times New Roman", sans-serif;
  font-size: 1em;
}
header {
  padding: .5em;
  background-image: url(../images/sprinkles.png);
  background-repeat: repeat;
}
header h1 {
  font-size: 200%;
  background-color: #fff;
  display: inline-block;
  padding: .5em;
}
h2, h3 {
  font-size: 160%;
}
p {
  font-size: 1.2em;
}
h1, h2, h3 {
  color: #4A2811;
  padding: 0;
  margin: 0;
}
h2, h3 {
  margin-top: .8em; 
}
main {
  margin-top: .8em;
  padding-left: .8em;
}
form {
  display: inline-block;
  margin-top: 1em;
  width: 30%;
}
form button {
  background-color: #4A2811;
  padding: .3em .4em .4em .4em;
  margin-top: 6em;
  border: 1px solid #fff;
  border-radius: 3px;
  font-family: "Port Lligat Sans", "Times New Roman", sans-serif;
  font-size: 1.3em;
  color: #fff;
  clear: both;
}
fieldset {
  border: 1px solid #4A2811;
  border-radius: 5px;
  width: 100%;
  padding: 1em;
  position: relative;
  min-width: 320px;
}
legend {
  color: #4A2811;
}
label {
  /*display: inline-block;
  padding-bottom: 1em;*/
}
input {
  /*display: inline;
  margin: 0 0 1.3em 1em;*/
}
#form-pairs {
  position: relative;
}
.form-pair {
  width: 100%;
}
#nnLabel, #mnchLabel, #mxchLabel, #adpLabel {
  position: absolute;
  left: 0;
  top: 0;
  text-align: right;
  width: 170px;
  /*display: inline;*/
}
#newName, #minCustHr, #maxCustHr, #avgDonutPurch {
  /*display: inline;*/
  position: absolute;
  left: 175px;
  top: -4px;
}
#mnchLabel {
  top: 30px;
}
#mxchLabel {
  top: 60px;
}
#adpLabel {
  top: 90px;
}
#minCustHr {
  top: 26px;
}
#maxCustHr {
  top: 56px;
}
#avgDonutPurch {
  top: 86px;
}
/*#newName {
  margin-bottom: 6px;
}
#minCustHr {
}
#maxCustHr {
}
#avgDonutPurch {
}*/
table {
  width: 70%;
  font-family: Arial, sans-serif;
  text-align: center;
  border-spacing: 0;
  border: 2px solid #A6A6A6;
  border-radius: 10px;
  background-color: #fff;
  padding-bottom: 4px;
  overflow: hidden;
  min-width: 741px;
}
td, th {
  padding: 4px;
}
.company {
  font-style: italic;
}
.location {
  color: #4A2811;
}
.title th {
  padding: .7em .2em; 
  background-color: #efefef;
  border-bottom: 1px solid #BDBDBD;
}
/*.columns  {
  overflow: auto;
  width: 100%;
}
.left-column {
  float: left;
  text-align: right;
}
.right-column {
  float: left;
}*/
/*#new-store-button {
  margin-left: 63px;
}*/
#donut {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #FF30BA;
  margin-left: .7em;
}

